body {
    font-family: Cambria;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}


.question {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}


.supportticket-container {
    border: 1px solid #999;
    border-radius: 10px;
    width: 50%;
    background-color: #f2f2f2;
    margin: 1%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
}


.title-bar {
    border-radius: 10px 10px 0px 0px;
    background-color: #820000;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.title {
    color: white;
}

.divider {
    background-color: #1e8cae;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-detail {
    width: 100%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.customer-question {
    padding-left: 1.5%;
    padding-right: 1.5%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.issue-detail {
    width: 98%;
    position: relative;
    padding: 1%;
}

.answer {
    margin-bottom: 20px;
    width: 100%;
}

.answer input, 
.customer-detail input {
    width: 99%;
    border: 1px solid;
    height: 20px;
    font-size: 14px;
    font-family: monospace;
}

.answer textarea {
    width: 99%;
    height: 50px;
    border: 1px solid;
}

.question-container {
    width: 100%;
}

.debug-button {
    width:100%;
    height:10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.submit-container {
    width: 99%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.debug-container {
    position: relative;
    width: 90%;
    height: auto;
    display: none;
    /* flex-direction: column; */
    /* overflow-y: scroll; */
    margin-top: 20px;
}

.debug-section .debug-header-section {
    /* z-index: 9999;
    top: 60%;
    width: 100%;
    height: 40%;
    flex-direction: column; */
    background-color: #f0f0f0;
    display: block;
    position: absolute;
    /* bottom: 0; */
    width: 98%;
    /* transition: transform 0.3s;  */
    /* transform: translateY(100%); */
    border-top: 1px solid black;
    /* overflow-y: scroll; */
}

.debug-div, .debug-header-div {
    width: 98%;
    margin: 2px;
    /* border: 1px solid black; */
    display: flex;
}

.debug-url-div, .debug-body-div, .debug-response-div, .debug-date-div, .debug-expand-div {
    width: 36%;
    height: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid black;
    padding-left: 10px;
    align-content: center;
    font-family: cambria;
    font-size: 15px;
}

.debug-url-div, .debug-date-div {
    width: 12% !important;
}

.debug-expand-div {
    width: 3% !important;
}

.debug-text {
    height: inherit;
}

.header-span {
    font-weight: bold;
    color: rgb(170, 3, 3)
}

.expand-collapse-img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* .QASection, .searched-solution {
    margin-top: 50px;
    align-items: center;
} */

.solution-section .generated-solution-section {
    display: none;
}

.searched-solution .generated-solution {
    align-items: center;
    width: 98%;
    position: relative;
    padding: 1%;
}

.submit-button{
    font-size: 13pt;
    border-top: #808080 6pt;
    border-right: #808080 6pt;
    border-bottom: #808080 6pt;
    border-left: #808080 6pt;
    width: 175px;
    height: 35px;    
    color: #ffffff;
    margin: 5px 20px;
    background-color: #16688a;
    border-radius: 8px;
    font-family: Cambria;
    font-weight: bolder;
    cursor: pointer;
}


.qa {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.qa_score {
    margin: 0px 10px 10px 10px;
    background-color: #026a2a;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    color: #e5dada;
    width: 35px;
    align-items: center;
}

.qa_pair {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 90%;
}

.qa_question,
.qa_answer {
    display: block;
    margin: 1px;
    align-self: flex-start;
}

.qa_answer b {
    padding-right: 5px;
}

.similar-issues {
    margin: 10px;
}

#message-input {
    width: 85%;
    margin: 0 10px;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chatbox {
    width: 35%;
    height: 82%;
    position: fixed;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    bottom: 10%;
    right: 2.5%;
    background-color: white;
    z-index: 9999;
    top: 3%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
}

#chatbot-assistant {
    position: fixed;
    margin: 0 auto;
    padding: 20px;
    bottom: 10%;
    right: 7%;
    flex-direction: column;
    z-index: 9999;
}

#chatlog {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#chatbot-icon {
    position: absolute;
    float: right;
    margin-top: 40%;
    margin-left: 93%;
    text-align: left;
    cursor: pointer;
    z-index: 9999;
}

#chatlog div {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

/* #user-icon {
    margin-right: 5px;
    text-align: right;
} */

.sender-icon {
    width: 50px;
    height: 50px;
    padding: 2px;
}




/* .loader {
    display: inline-block;
    animation: loading 1s infinite;
} */

#drop-area {
    width: 99%;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
}

#drop-area-xsn {
    width: 99%;
    height: 40px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background-color: white;
}

.image-upload-div {
    width: 100%;
    height: 75px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-upload-div {
    width: 100%;
    height: 50px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.drop-message {
    font-size: 16px;
    color: #999;
    padding: 20px 20px;
}

#screenshot-input, #xsn-file-input {
    display: none;
}

@keyframes loading {
    0% {
        content: ".";
    }

    33% {
        content: "..";
    }

    66% {
        content: "...";
    }
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    /* Adjust the blur intensity as needed */
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the background color and opacity as needed */
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}