body {
    font-family: Cambria;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}


.question {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}


.supportticket-container {
    border: 1px solid #999;
    border-radius: 10px;
    width: 50%;
    background-color: #f2f2f2;
    margin: 2%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
}


.title-bar {
    border-radius: 10px 10px 0px 0px;
    background-color: #820000;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.title {
    color: white;
}

.issue-divider {
    background-color: #1e8cae;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-detail {
    width: 100%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.customer-question {
    padding-left: 1.5%;
    padding-right: 1.5%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.issue-detail {
    width: 98%;
    position: relative;
    padding: 1%;
}

.answer {
    margin-bottom: 20px;
    width: 100%;
}

.answer input, 
.customer-detail input {
    width: 99%;
    border: 1px solid;
    height: 20px;
    font-size: 14px;
    font-family: monospace;
}

.answer textarea {
    width: 99%;
    height: 50px;
    border: 1px solid;
}

.question-container {
    width: 100%;
}

.submit-container {
    width: 99%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* .QASection, .SearchedSolution {
    margin-top: 50px;
    align-items: center;
} */

.SearchedSolution {
    display: none;
    margin-top: 50px;
    align-items: center;
}

#submit-issue {
    font-size: 13pt;
    border-top: #808080 6pt;
    border-right: #808080 6pt;
    border-bottom: #808080 6pt;
    border-left: #808080 6pt;
    width: 150px;
    height: 35px;    
    color: #ffffff;
    margin: 5px 20px;
    background-color: #16688a;
    border-radius: 8px;
    font-family: Cambria;
}


.qa {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.qa_score {
    margin: 0px 10px 10px 10px;
    background-color: #026a2a;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    color: #e5dada;
    width: 35px;
    align-items: center;
}

.qa_pair {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 90%;
}

.qa_question,
.qa_answer {
    display: block;
    margin: 1px;
}

#message-input {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chatbox {
    width: 700px;
    position: fixed;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    bottom: 10%;
    right: 2.5%;
    background-color: white;
    z-index: 9999
}

#chatbot-assistant {
    position: fixed;
    margin: 0 auto;
    padding: 20px;
    bottom: 10%;
    right: 7%;
    flex-direction: column;
}

#chatlog {
    height: 660px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#chatbot-icon {
    position: absolute;
    float: right;
    margin-top: 40%;
    margin-left: 93%;
    text-align: left;
    cursor: pointer;
}

#chatlog div {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

#user-icon {
    margin-right: 12px;
    text-align: right;
}

.sender-icon {
    width: 50px;
    height: 50px;
    padding: 2px;
}




/* .loader {
    display: inline-block;
    animation: loading 1s infinite;
} */

#drop-area {
    width: 99%;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
}

#drop-area-xsn {
    width: 99%;
    height: 40px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background-color: white;
}

#image-upload-div {
    width: 100%;
    height: 75px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#file-upload-div {
    width: 100%;
    height: 50px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.drop-message {
    font-size: 16px;
    color: #999;
    padding: 20px 20px;
}

#screenshot-input, #xsn-file-input {
    display: none;
}

@keyframes loading {
    0% {
        content: ".";
    }

    33% {
        content: "..";
    }

    66% {
        content: "...";
    }
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    /* Adjust the blur intensity as needed */
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the background color and opacity as needed */
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}